<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="jquery-easyui-1.7.0/demo.css"/>
    <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/uploadfiles.js"></script>
</head>
<body>
<div>
    <form id="uploadFiles" name="uploadFiles" enctype="multipart/form-data" method="post">
        <div>
           <input id="files" type="file" name="files" multiple="true"></input>
        </div>
        
        <div>
            <ul id="fileListUl" style="font-size:32pt">
               <li value="AL">No File</li>
             </ul>
        </div>
        <span>Description:</span><input type="text" value="Upload" id="description" name="description" style="width:300px"></input>
    </form>
    <input type="button" onclick="loadFile();" value="Upload Files" ></input>
</div>
</body>
</html>
